.gallery {
    display: grid;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
    margin-bottom: 20rem;
}

.image img {
    width: 80%;
    border-radius: 2px;
    width: 27rem;
    height: 27rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .images {
        grid-template-columns: 1fr;
    }
}